body, main, h1, h2, p, div, section {
    margin: 0;
    padding: 0;
}

body {
    color: #222;
}

section > h2 {
    line-height: 65px;
}

p {
    font-weight: bold;
}

p > span.mar-left {
    margin-left: 30px;
}

p > span.content {
    color: #343434;
    font-weight: 600;
}

section.basic-msg > p > .content,
section.contact > p > .content {
    margin-left: 5px;
}

section:nth-child(3) > p:last-child,
section:nth-child(4) > p:last-child,
section:nth-child(5) > p:last-child {
    margin-top: 20px;
}